<a href="https://colab.research.google.com/github/danunive/Project/blob/master/Machine_learning_for_marketing_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [46]:
datos = pd.read_csv('/content/telco.csv')
datos.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [47]:
datos.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [52]:
datos['TotalCharges'] =datos['TotalCharges'].astype('float128')
datos.dtypes

customerID            object
gender                object
SeniorCitizen          int64
Partner               object
Dependents            object
tenure                 int64
PhoneService          object
MultipleLines         object
InternetService       object
OnlineSecurity        object
OnlineBackup          object
DeviceProtection      object
TechSupport           object
StreamingTV           object
StreamingMovies       object
Contract              object
PaperlessBilling      object
PaymentMethod         object
MonthlyCharges       float64
TotalCharges        float128
Churn                 object
dtype: object

In [9]:
datos.shape

(7043, 21)

In [60]:
id = ['customerID']
target = ['Churn']

In [61]:
 datos.nunique()

customerID                               7043
tenure                                     73
MonthlyCharges                           1585
TotalCharges                             6531
gender_Male                                 2
SeniorCitizen_1                             2
Partner_Yes                                 2
Dependents_Yes                              2
PhoneService_Yes                            2
MultipleLines_No phone service              2
MultipleLines_Yes                           2
InternetService_Fiber optic                 2
InternetService_No                          2
OnlineSecurity_No internet service          2
OnlineSecurity_Yes                          2
OnlineBackup_No internet service            2
OnlineBackup_Yes                            2
DeviceProtection_No internet service        2
DeviceProtection_Yes                        2
TechSupport_No internet service             2
TechSupport_Yes                             2
StreamingTV_No internet service             2
StreamingTV_Yes                             2
StreamingMovies_No internet service         2
StreamingMovies_Yes                         2
Contract_One year                           2
Contract_Two year                           2
PaperlessBilling_Yes                        2
PaymentMethod_Credit card (automatic)       2
PaymentMethod_Electronic check              2
PaymentMethod_Mailed check                  2
Churn_Yes                                   2
dtype: int64

In [62]:
categorical = datos.nunique()[datos.nunique()<10].keys().tolist()
print(categorical)

['gender_Male', 'SeniorCitizen_1', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes', 'MultipleLines_No phone service', 'MultipleLines_Yes', 'InternetService_Fiber optic', 'InternetService_No', 'OnlineSecurity_No internet service', 'OnlineSecurity_Yes', 'OnlineBackup_No internet service', 'OnlineBackup_Yes', 'DeviceProtection_No internet service', 'DeviceProtection_Yes', 'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No internet service', 'StreamingTV_Yes', 'StreamingMovies_No internet service', 'StreamingMovies_Yes', 'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes', 'PaymentMethod_Credit card (automatic)', 'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check', 'Churn_Yes']

In [63]:
datos.keys().tolist() ## Método keys() sabemos cuales son las columnas y con el método tolist()  combertimos el array en lista

['customerID',
 'tenure',
 'MonthlyCharges',
 'TotalCharges',
 'gender_Male',
 'SeniorCitizen_1',
 'Partner_Yes',
 'Dependents_Yes',
 'PhoneService_Yes',
 'MultipleLines_No phone service',
 'MultipleLines_Yes',
 'InternetService_Fiber optic',
 'InternetService_No',
 'OnlineSecurity_No internet service',
 'OnlineSecurity_Yes',
 'OnlineBackup_No internet service',
 'OnlineBackup_Yes',
 'DeviceProtection_No internet service',
 'DeviceProtection_Yes',
 'TechSupport_No internet service',
 'TechSupport_Yes',
 'StreamingTV_No internet service',
 'StreamingTV_Yes',
 'StreamingMovies_No internet service',
 'StreamingMovies_Yes',
 'Contract_One year',
 'Contract_Two year',
 'PaperlessBilling_Yes',
 'PaymentMethod_Credit card (automatic)',
 'PaymentMethod_Electronic check',
 'PaymentMethod_Mailed check',
 'Churn_Yes']

In [64]:
categorical.remove(target[0])

ValueError: ignored

In [32]:
numerical = [col for col in datos.columns
               if col not in id+target+categorical]

ValueError: ignored

In [55]:
numerical = datos[['tenure','MonthlyCharges',
'TotalCharges',]].keys().tolist()

In [56]:
print(numerical)

['tenure', 'MonthlyCharges', 'TotalCharges']

One hot encoding categorical variables

In [57]:
datos = pd.get_dummies(data= datos, columns=categorical, drop_first = True)  #get_dummies es una función definimos el set de datos, las columnas y eliminar la primera opción de las clasificaciones dummies

In [58]:
datos.head()

   customerID  tenure  ...  PaymentMethod_Mailed check  Churn_Yes
0  7590-VHVEG       1  ...                           0          0
1  5575-GNVDE      34  ...                           1          0
2  3668-QPYBK       2  ...                           1          1
3  7795-CFOCW      45  ...                           0          0
4  9237-HQITU       2  ...                           0          1

[5 rows x 32 columns]

Scaling numerical features

In [59]:
scaled_numerical = scaler.fit_transform(datos[numerical]) ## Para qué hacemos esto?

In [65]:
scaled_numerical = pd.DataFrame(scaled_numerical, columns = numerical)

In [66]:
scaled_numerical.head()

     tenure  MonthlyCharges  TotalCharges
0 -1.277445       -1.160323     -0.992611
1  0.066327       -0.259629     -0.172165
2 -1.236724       -0.362660     -0.958066
3  0.514251       -0.746535     -0.193672
4 -1.236724        0.197365     -0.938874

In [73]:
#datos = datos.drop(columns = numerical, axis =1)
datos_prep = datos.merge(right=scaled_numerical, how = 'left', left_index = True, right_index = True)
datos_prep.head()

   customerID  gender_Male  ...  MonthlyCharges  TotalCharges
0  7590-VHVEG            0  ...       -1.160323     -0.992611
1  5575-GNVDE            1  ...       -0.259629     -0.172165
2  3668-QPYBK            1  ...       -0.362660     -0.958066
3  7795-CFOCW            1  ...       -0.746535     -0.193672
4  9237-HQITU            0  ...        0.197365     -0.938874

[5 rows x 32 columns]

ML modeling Steps sipervised


1. split data to training and testing
2. initialize the model
3. fit the model on the training data
4. predict values on the testing data
5. measure model performance


ML modeling steps unsupervised --> KMeans sklearn.clusters
1. initializa the model
2. fir the model
3. assign cluster values
4. Explore results

In [68]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
train_X, test_X, train_Y, test_Y =