<a href="https://colab.research.google.com/github/danunive/Project/blob/master/Reto2_DataScienceFem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Nobel laureates, 1901-present**

0   Year: The year that this noble prize was awarded

 1   Category:

 2   Prize 

 3   Motivation

 4   Prize Share

 **5   Laureate ID** 

 6   Laureate Type  (Individual - Organizacion)

 7   Full Name : Full name of the recipient

 8   Birth Date: Birth date of the recipient

 9   Birth City: Birth city of the recipient

 10  Birth Country: Birth country of the recipient

 11  Sex: sex of the recipient

 12  Organization Name

 13  Organization City

 14  Organization Country

 15  Death Date: Death date of the recipient

 16  Death City: Death city of the recipient

 17  Death Country: Deadth Country of the recipient

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv("/content/archive.csv", sep=",")
datos.head(2)

   Year    Category  ... Death City Death Country
0  1901   Chemistry  ...     Berlin       Germany
1  1901  Literature  ...   Châtenay        France

[2 rows x 18 columns]

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969 entries, 0 to 968
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  969 non-null    int64
 1   Category              969 non-null    object
 2   Prize                 969 non-null    object
 3   Motivation            881 non-null    object
 4   Prize Share           969 non-null    object
 5   Laureate ID           969 non-null    int64
 6   Laureate Type         969 non-null    object
 7   Full Name             969 non-null    object
 8   Birth Date            940 non-null    object
 9   Birth City            941 non-null    object
 10  Birth Country         943 non-null    object
 11  Sex                   943 non-null    object
 12  Organization Name     722 non-null    object
 13  Organization City     716 non-null    object
 14  Organization Country  716 non-null    object
 15  Death Date            617 non-null    object
 16  Death City            599 non-null    object
 17  Death Country         605 non-null    object
dtypes: int64(2), object(16)
memory usage: 136.4+ KB

In [ ]:
datos[['Category','Laureate Type']].value_counts() -- It is 6 Category

Category    Laureate Type
Medicine    Individual       227
Physics     Individual       222
Chemistry   Individual       194
Literature  Individual       113
Peace       Individual       100
Economics   Individual        83
Peace       Organization      30
dtype: int64

In [ ]:
datos_categoria_country = datos.groupby(['Category','Birth Country'])

# Nueva sección

In [ ]:
datos_categoria_country.value_counts()

AttributeError: ignored